<div class="container">
    <footer class="py-3 my-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Ambu</h3>
                    <p>Organismo Público Descentralizado, dedicado a la administración pública de parques y Bosques Urbanos del área Metropolitana de Guadalajara.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacto</h3>
                    <ul class="icon-list icon-line">
                        <li>Paseo del Torreon 2130</li>
                        <li>Colonia Colinas de San Javier</li>
                        <li>Guadalajara, Jalisco 44660</li>
                        <li>Tel: (33) 9688 8595</li>
                        <li>"desarrollo.bosquesurbanos.mx"</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a href="https://www.facebook.com/BosquesAMG/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com/bosquesamg" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/bosquesamg" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                    <hr class="space-sm">
                    <p>Síguenos para que conozcas nuevas actividades o eventos.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
