<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo-default scroll-hide" src="assets/img/logo_ambu.png" alt="logo agencia" style="height: 2.95em;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
        <li class="nav-item"><a routerLink="/inicio"  routerLinkActive="active" class="nav-link"><b>Inicio</b></a></li>
        <li class="nav-item"><a routerLink="/incidencias_mantenimiento"  routerLinkActive="active" class="nav-link"><b>Infraestructura</b></a></li>
        <li class="nav-item"><a routerLink="/incidencias_fauna"  routerLinkActive="active" class="nav-link"><b>Fauna</b></a></li>
        <li class="nav-item"><a routerLink="/incidencias_sanitarios"  routerLinkActive="active" class="nav-link"><b>Sanitarios</b></a></li>
        <li class="nav-item"><a routerLink="/incidencias_forestal"  routerLinkActive="active" class="nav-link"><b>Forestal</b></a></li>
        
        <!-- Nuevas rutas -->
<li class="nav-item"><a routerLink="/incidencias_cinema" routerLinkActive="active" class="nav-link"><b>Cinema</b></a></li>
<li class="nav-item"><a routerLink="/incidencias_concesionarios" routerLinkActive="active" class="nav-link"><b>Concesionarios</b></a></li>
<li class="nav-item"><a routerLink="/incidencias_jardineria" routerLinkActive="active" class="nav-link"><b>Jardinería</b></a></li>
<li class="nav-item"><a routerLink="/incidencias_limpieza_parques" routerLinkActive="active" class="nav-link"><b>Limpieza Parques</b></a></li>
<li class="nav-item"><a routerLink="/incidencias_puntos_limpios" routerLinkActive="active" class="nav-link"><b>Puntos Limpios</b></a></li>
<li class="nav-item"><a routerLink="/incidencias_seguridad" routerLinkActive="active" class="nav-link"><b>Seguridad</b></a></li>
<li class="nav-item"><a routerLink="/graficas" routerLinkActive="active" class="nav-link"><b>Graficas</b></a></li>

        <li class="nav-item"><a routerLink="/autorizaciones"  routerLinkActive="active" class="nav-link"><b> Autorizaciones</b></a></li>
        <li class="nav-item"><a routerLink="/indicaciones"  routerLinkActive="active" class="nav-link"><b>Indicaciones</b></a></li>
        <li class="nav-item"><a routerLink="/inicio_sesion"  routerLinkActive="active" class="nav-link"><b>Iniciar Sesión</b></a></li>

      </ul>

      <div class="d-flex" style="padding-right: 8em;">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/usuario.svg" alt="mdo" width="32" height="32" class="rounded-circle"> 
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Proyectos</a></li>
            <li><a class="dropdown-item" href="#">Opciones</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Desconectarse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>