
<br><br><br>
<div class="content">
<div class="container">
    	<div class="row">
	
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Indicaciones <b>Operativas</b></h2>
                        </div>
        
                    </div>
                </div>  
                        </div>
	<div class="row">
	
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
                        <div class="">
                            <form>
                                <div class="row">
                                
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="datepicker">Fecha</label>
                                            <div class="input-group">
                                                <input id="datepicker" name="datepicker" type="text" placeholder="Fecha actual" class="form-control" required>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="select">Categorias:</label>
                                            <div class="select">
                                                <select id="select" name="select" class="form-control">
                                                    <option value="">Selecciona categoria</option>
                                                    <option value="">Mantenimiento infrastructura</option>
                                                    <option value="">Robo</option>
                                                    <option value="">Control de animales</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label required" for="select">Parques</label>
                                            <div class="select">
                                                <select id="select" name="select" class="form-control">
                                                    <option value="">Solidaridad</option>
                                                    <option value="">Tlaquepaque</option>
                                                    <option value="">Rojo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30">
                                        <h4 class="tour-form-title">Descripcion del reporte</h4>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="desc">Asunto</label>
                                            <input id="desc" type="text" placeholder="Descripcion breve del  problema" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for="textarea">Descripción</label>
                                            <textarea class="form-control" id="textarea" name="textarea" rows="4" placeholder="Describe los requerimientos"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button type="submit" name="singlebutton" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                                </form>
                        </div>
                        
                    </div>
	</div>	
</div>
</div>