<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Autorizaciones <b>de resolución de incidencias</b></h2>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img src="./../../assets/img/vrotas.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                        <div class="row">
                      <div class="col-sm-5"><h4 style="text-align: left;"><b>Ventanas Rotas</b></h4></div>
                      <div class="col-sm-7"><p style="text-align: right;">Parque Metropolitano de GDL</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"><p style="text-align: left;">Reportado hace: 4 horas</p></div>
                        <div class="col-sm-7"><p style="text-align: right;">20/04/2024 3:35 PM</p></div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-5"><p style="text-align: left; font-weight: bold;">Descripcion de la solicitud:</p></div>
                      </div>
                      <div class="row">
                        <div class="col"><p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                      </div>
                      <div class="row">
                        <div class="col"> <span class="status text-info">&bull;</span> Revision </div>
                      </div>
                      
                      
                    </div>
                  </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                <div class="card">
                    <div class="container">
                      <h4><b>Autorización:</b></h4>
                      <div class="row">
                        <div class="col-sm-5"><button class="button button2">Revisión</button></div>
                        <div class="col-sm-7"><button class="button button5 ">Pospuesto</button></div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-sm-5"><button class="button button1">Autorizado</button></div>
                        <div class="col-sm-7"><button class="button button3 ">Cancelado</button></div>
                      </div>
                      
                      <!--button class="button">Green</button>
                        <button class="button button2">Blue</button>
                        <button class="button button3">Red</button>
                        <button class="button button4">Gray</button>
                        <button class="button button5">Black</button-->
                      
                    </div>
                  </div>

                  <div>&nbsp;</div>

                  <div class="card">
                    <div class="container">
                        <p style="text-align: left; font-weight: bold;">Comentarios:</p>
                        <div class="form-group">
                            <label class="control-label" for="textarea"></label>
                            <textarea class="form-control" id="textarea" name="textarea" rows="10" placeholder="Escribe algun comentario"></textarea>
                        </div>

                        <div>&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-5"><button class="button button1">Confirmar</button></div>
                            <div class="col-sm-7"><button class="button button3 ">Cancelar</button></div>
                          </div>

                      <!--button class="button">Green</button>
                        <button class="button button2">Blue</button>
                        <button class="button button3">Red</button>
                        <button class="button button4">Gray</button>
                        <button class="button button5">Black</button-->
                      
                    </div>
                  </div>

                </div>
            </div>
  
          </div>


    </div>
</div> 