<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Autorizaciones <b>de resolución de incidencias</b></h2>
                </div>

            </div>
        </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="show-entries">
                        <span>Mostrar</span>
                        <select class="form-control">
                            <option>5</option>
                            <option>11</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                        <span>Entradas</span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
                    <div class="filter-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label>Localización</label>
                        <select class="form-control">
                            <option>Todos</option>
                            <option>Parque1</option>
                            <option>Parque2</option>
                            <option>Parque3</option>
                            <option>Parque4</option>
                            <option>Parque5</option>								
                        </select>
                    </div>
                    <div class="filter-group">
                        <label>Estatus</label>
                        <select class="form-control">
                            <option>Todos</option>
                            <option>Revision</option>
                            <option>Autorizado</option>
                            <option>Completado</option>
                            <option>Pendiente</option>
                            <option>Pospuesto</option>
                            <option>Cancelado</option>
                        </select>
                    </div>
                    <span class="filter-icon" ><i class="fa fa-filter"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div routerLink="/autorizacion_detalles" style="cursor: pointer;" class="card">
                    <img src="./../../assets/img/vrotas.jpg" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>Ventanas Rotas</b></h4>
                      <p>Parque Metropolitano de GDL</p>
                      <p>Reportado hace: 4 horas</p>
                      <p>20/04/2024</p>
                      <span class="status text-info">&bull;</span> Revision
                      
                    </div>
                  </div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
          </div>

          <div class="row">
            <div class="column">
              <div class="card">..</div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
            <div class="column">
              <div class="card">..</div>
            </div>
          </div>

        <div class="clearfix">
            <div class="hint-text">Mostrando <b>5</b> de <b>25</b> entradas</div>
            <ul class="pagination">
                <li class="page-item"><a href="#">Anterior</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
            </ul>
        </div>
    </div>
</div> 